@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #212529;
  padding: 0 20px;
}

::selection{
  color: #fff;
  background:  #000000;
}

.wrapper{
  max-width: 450px;
  margin: 120px auto;
}

.wrapper .search-input{
  background:  #292c358a;
  width: 120%;
  margin-left: -8%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background:  #292c35b6;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
#tara
{
  background:  #292c358a;
  
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(255, 255, 255);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(255, 255, 255);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(255, 255, 255);
}
input:-moz-placeholder { /* Firefox 18- */
  color: rgb(255, 255, 255);
}
input::-ms-input-placeholder { /* IE Edge */
  color: rgb(255, 255, 255);
}
.Mfs
{
  width: 90%;
  align-items: center;
}
h1
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.oturumaç
{
  background:  #644bff;
  border: none;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 85%;
}
.uygulamalar
{
  width: 40px;
  fill: #fff;
  position: absolute;
  top: 25px;
  left: 80%;
}
#uygulama
{
  background:  #292c358a;
  color: white;
  width: 20%;
  height: 400px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  position: absolute;
  left: 78%;
  top: 90px;
}
.gmail
{
   color:#ffffff;
float: left;
}
.görsel
{
  color: #fff;
  
}
.uy
{
  padding-top: 2.50%;
  margin-left: 70%;
  height: 5px;
  background-color: #00000000;
}